<div class="">
  <div class="card-header row row-cols-3 row-cols-md-3 g-3">
    <div class="col">
      <div class="fhd-card">
        <img
          src="assets/img/exchange.png"
          class="card-img-top f-hd-logo"
          alt="..."
        />
        <div class="card-body">
          <h1><strong>100% EXCHANGE</strong></h1>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="fhd-card">
        <img
          src="assets/img/hand.png"
          class="card-img-top f-hd-logo"
          alt="..."
        />
        <div class="card-body">
          <h1><strong>HAND PICKED</strong></h1>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="fhd-card">
        <img
          src="assets/img/quality.png"
          class="card-img-top f-hd-logo"
          alt="..."
        />
        <div class="card-body">
          <h1><strong>ASSURED QUALITY</strong></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body footer footer-container">
    <div class="fhd">
      <h1 class="title" routerLink="">Elite Looks !</h1>
    </div>
    <div class="fbd-container">
      <div class="fbd1 fbdd">
        <h1 class="fbd1 hd">ABOUT US</h1>
        <p>This project was developed</p>
        <p>using AngularJS</p>
        <p>incorporating design elements</p>
        <p>from Angular Material</p>
        <p>and Bootstrap frameworks</p>
      </div>
      <div class="fbd3 fbdd">
        <h1 class="fbd3 hd">FOLLOW US</h1>

        <div class="logos">
          <img src="assets/img/insta.png" alt="" class="logo"/><img
            src="assets/img/linkedin.png"
            alt=""
            class="logo"
          /><img src="assets/img/mail.png" alt="" class="logo"/>
        </div>
      </div>
    </div>
    <hr />
    <div class="fd">
      <p class="fd-p">© XYZ Press And Contributors 2024</p>
    </div>
  </div>
</div>
