<div>
     
  <div class="card-body footer footer-container">
    <div class="fhd">
      <h1 class="title" routerLink="">Elite Looks</h1>
    </div>
    <hr />
    <div class="fbd-container">
      <div class="fbd1 fbdd">
        <p>
          "Elite Looks" is a dynamic front-end web application developed using a
          stack comprising Angular. incorporating design elements
          from Angular Material and Bootstrap frameworks. The application serves
          as a platform for a fashion brand. JSON files and local storage are
          used for data handling in the project.
        </p>
      </div>
    </div>
    <div class="logos">
      <div class="insta">
        <img src="assets/img/insta.png" alt="" class="logo insta" />
      </div>
      <div class="linedin">
        <img src="assets/img/linkedin.png" alt="" class="logo linkedin" />
      </div>
      <div class="mail">
        <img
          href="mailto:2810vishwa@gmail.com"
          src="assets/img/mail.png"
          alt=""
          class="logo mail"
        />
      </div>
    </div>
  </div>
</div>
