
<div class="container-bg">

    <div class="abo-img1 abo">
        <img src="../../assets/img/Fashion  png with contact/Home.jpg" alt="">
    </div>
    <div class="abo-img2 abo">
        <img src="../../assets/img/Fashion  png with contact/In the News.jpg" alt="">
    </div>
    <div class="abo-img3 abo">
        <img src="../../assets/img/Fashion  png with contact/Who We Are.jpg" alt="">
    </div>
    <div class="abo-img4 abo">
        <img src="../../assets/img/Fashion  png with contact/Contact Us.jpg" alt="">
    </div>

</div>

<app-footer></app-footer>



