
<div class="whole">
        
    <!-- <div class="main1">
      <img class="topimg" src="assets/img/Home.png" alt="image" />
      <h1 class="t1t tc">Elite looks !</h1>
      <h1 class="t2t tc ">Quick and</h1>
      <h1 class="t3t tc ">hasle-free shopping</h1>
    </div> -->
    <div class="main2">
      <div class="sub1">
        <h1 class="m1t tc ">Elite looks!</h1>
        <h1 class="m12t tc ">in the news</h1>
      </div>
      <div class="sub2">
        <div class="imgdet">
          <div class="middle1">
            <img class="midimg1 img" src="assets/img/4.png" alt="image" />
            <h2 class="m2t tc ">Araico Collection launch</h2>
            <p class="m21t para tc ">
              News write-ups offer a great way to let clients know about new
              products and services, events, awards, and more!
            </p>
          </div>
          <div class="middle2">
            <img class="midimg2 img" src="assets/img/5.png" alt="image" />
            <h2 class="m3t tc ">Clothing Drive 2024</h2>
            <p class="m31t para tc ">
              News write-ups offer a great way to let clients know about new
              products and services, events, awards, and more!
            </p>
          </div>
          <div middle3>
            <img class="midimg3 img" src="assets/img/6.png" alt="image" />
            <h2 class="m4t tc ">F/W 2024 Sneak Peek</h2>
            <p class="m41t tc para">
              News write-ups offer a great way to let clients know about new
              products and services, events, awards, and more!
            </p>
          </div>
        </div>
      </div>
      <div class="sub3">
        <div class="bottom1">
          <h2 class="b1t tc ">Who We Are</h2>
          <div class="par para">
          <p class="b2t tc ">
            Elite looks Online offers a well-curated range of fashion items
            for men and women. 
          </p>
          <p class="b3t tc " >We aim to provide an enjoyable shopping
              experience for all our customers. </p>
      </div>
        </div>
        <div class="bottom2">
        <img class="midimg4" src="assets/img/Who We Are.png" alt="image" />
      </div>
      </div>
    </div>
    <div class="main3">
      <img class="downimg" src="assets/img/Contact Us.png" alt="image" />
      <h2 class="dt1 tc ">Contact Information</h2>
      <h4 class="dt2  tc ">Email Address</h4>
      <p class="dt3 tc ">2810vishwa@gmail.com</p>
    </div>
  </div>

<app-footer></app-footer>



