<div class="bg">
    
    <div class="container">
      <div class="card">
          <img src="../../assets/img/formpage.jpg" class="card-img-top" alt="...">
      </div>
      <div class="cont2">
        <div class="hding">
          <h1><strong>Create an account</strong></h1>
      </div>
      <div class="form">
          <form>
              <div class="mb-3 email">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="YourMail@example.com">
              </div>
              <div class="mb-3 password">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="* * * * * * * * * *">
              </div>
              <div class="mb-3 cpassword">
                  <label for="exampleInputPassword2" class="form-label"> confirm Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword2"placeholder="* * * * * * * * *">
                </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I agree to the terms and conditions</label>
              </div>
              <div class="sumit">
                  <button type="submit"  id="butt" class="btn btn-primary">Signup</button>
              </div>
            </form>
      </div>
      <div class="para"><p>Already have an account?</p></div>
      <div class="login">
          <button class="btn btn-primary" id="but" type="button" routerLink="/login">Log in</button>
      </div>
      </div>
    </div>
  </div>
