.bg{
    margin:0px;
    display: flex;
    justify-content: center;
    border-radius: 10%;
}
 .card{
    object-fit: cover;
    border: none;
 }
.container{
    display: flex;
    justify-content: center;
    height: 100%;
    object-fit:cover;
   

}
img,h1,h4,button{
    object-fit:cover;
    flex-wrap: wrap;
}

.imgs{
    display: flex;
    object-fit: contain;
    justify-content: center;
    object-fit: cover;
   
}
.info {
    justify-content: center;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    height: 100%;
}


.clks,.tinfo{
    display: flex;
    flex-direction: column;
    margin: 0px 40px 0px;
    height: fit-content;
}
button{
    height: 50px;
    margin: 20px 0 10px;
    padding: 0;
}
h1{
    font-size: 50px;
    margin: 20px 0 20px;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    
    
}
h4{
    font-size: 25px;
    margin: 10px 0 20px;
}
.txt{
    margin-bottom: 20px;
}
p{
    font-size: 20px;
    margin-top: 10px;
}


.bg {
    max-height: 600px;
    margin: 0 auto;
  }


  
  @media screen and (max-width: 1000px) { 
   
    .container{
       flex-direction: column;
    }
  }

 
  
  @media screen and (max-width: 600px) {
    h1{
        font-size: 35px;
        margin: 15px 0 15px;
        
        
    }
   
    p{
        font-size: 20px;
        margin-top: 2px;
    }

    button{
        height: 35px;
        margin: 10px 0 6px;
    }

     
  }
  @media screen and (max-width:350px){

    p{
        display: none;
    }

    .txt{
        margin-bottom: 10px;
    }
    
    h1{
        font-size: 22px;
        margin: 15px 0 15px;
        
        
    }
    h4{
        font-size: 15px;
        margin: 5px 0 10px;
    }
    .txt{
        margin-bottom: 10px;
    }

    button{
        height: 30px;
        margin: 10px 0 6px;
    }
  
  }