.bg{
    height:100%;
    display: flex;
    justify-content: center;
    border-radius: 10%;
}
 .card{
    object-fit: cover;
    border: none;
 }
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
   
    object-fit:cover;
   

}
img,h1,h4,button{
    object-fit:cover;
    flex-wrap: wrap;
}
.imgs{
    display: flex;
    width: auto;
    // height:550px;
    object-fit: contain;
    justify-content: center;
    object-fit: cover;
   
}
.info {
    justify-content: center;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    height: 100%;
}


.clks,.tinfo{
    display: flex;
    flex-direction: column;
    margin: 0px 40px 0px;
    height: fit-content;
}
button{
    height: 50px;
    margin: 20px 0 10px;
    padding: 0;
}
h1{
    font-size: 50px;
    margin: 20px 0 20px;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    
    
}
h4{
    font-size: 25px;
    margin: 10px 0 20px;
}
.txt{
    margin-bottom: 20px;
}
p{
    font-size: 20px;
    margin-top: 10px;
}


.bg {
    max-height: 600px;
    margin: 0 auto;
  }


  
  @media screen and (max-width: 990px) {
 
    .imgs{
    
     width: fit-content;
     padding: 0px;

    }
    h1{
        font-size: 20px;
        margin: 10px 0 5px;
        font-weight: bold;
    }
    h4{
        font-size: 12.5px;
        margin:0px;
    }
    p{
        font-size: 10px;
        margin-top: 0px;
    }
    .container{
        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 0px;
        margin: 0;
        width: fit-content;
        margin: 0px;
     }
    
    .modal-fullscreen-lg-down {
        width: fit-content;
        max-width: none;
        
    }

    .info {
        
         height:fit-content;
         padding: 0px;
    }

    
  }

 
  
  @media screen and (max-width: 500px) {
      .imgs{
         height: 400px; 
         width: auto;
      }
  }
  @media screen and (max-width:300px){
    
  }