<div class="modal-dialog modal-fullscreen-lg-down bg">
    
    
    <div class="container row">
        <div class="imgs ">
            <img src={{data.img}} alt="">
        </div>
        <div class="info col">
            <div class="tinfo">
                <h1 class="hd"><b>{{data.name}}</b></h1>
                <h4 class="txt">{{data.subname}}</h4>
                <h4 class="rate"><label>MRP ₹</label><strong>{{data.rate}}</strong><label>/-</label></h4>

                    <p>100% Original Products.</p>
                    <p>Pay on delivery might be available.</p>
                    <p>Easy 14 days returns and exchanges.</p>
                    <p>Try & Buy might be available.</p>
                    
            </div>
            <div class="clks ">    
                <button class="wish btn btn-outline-secondary">wishlist</button>
            </div>
        </div>
    </div>
    
  </div>
