
<div class="container-bg">
    <div class="container">
      <!-- photo slider -->
      <div class="slide">
        <div
          id="carouselExampleAutoplaying"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="img-slide"
                src="assets/img/slider1.png"
                class="d-block w-100"
                alt=""
              />
              <div class="carousel-caption d-none d-md-block">
                <h1 class="title"></h1>
              </div>
            </div>
            <div class="carousel-item">
              <img
                class="img-slide"
                src="assets/img/slider2.png"
                class="d-block w-100"
              />
              <!-- <div class="carousel-caption d-none d-md-block">
                <p>just feel our looks</p>
              </div> -->
            </div>
            <div class="carousel-item">
              <img
                class="img-slide"
                src="assets/img/slider3.png"
                class="d-block w-100"
                
              />
              <div class="carousel-caption d-none d-md-block">
                <h1 class="title"></h1>
              </div>
            </div>
          </div>
          <!-- <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button> -->
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- video div -->
      <div class="vid-hd">
        <h1 class="hd">SET TRENDS</h1>
      </div>
      <div class="video-container">
        <video autoplay playsInline [loop]="true"  [muted]="true" [src]="vdo" type="video/mp4" >
        
        </video>
      </div>
  
      <!-- genter Category -->
      <div class="hding ht1">
        <h1 class="hd">SHOP BY CATEGORY</h1>
      </div>
  
      <div class="gen">
        <div class="row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="hding categ">
              <h1 class="hd">MENS COLLECTION</h1>
            </div>

              <div class="card card-gen" (click)="clickMen()" >
                <img class="img-gen" src="assets/img/gen-men2.jpg" alt="" />
              </div>
            
          </div>
          <div class="col-sm-6">
            <div class="hding categ">
              <h1 class="hd">WOMENS COLLECTION</h1>
            </div>
            
              <div class="card card-gen" (click)="clickWomen()" >
                <img
                  class="img-gen"
                  src="assets/img/gen-women2.jpg"
                  alt=""
                />
              </div>
            
          </div>
        </div>
      </div>
  
      <div class="hding ht2">
        <h1 class="hd">NEW ARRIVALS</h1>
      </div>
      <div class="col-frm">
        <img class="col-pic" src="assets/img/newColl.jpg" alt="" />
      </div>
  
      <!-- Collections cards -->
      <div class="row row-cols-2 row-cols-md-4 g-12">
        <div class="col" *ngFor="let boxset of newcol">
          <div class="card" (click)="openPopup(boxset)">
            <img src="{{boxset.img }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"><label>₹</label>{{ boxset.rate }}</h5>
              <h5 class="card-title">{{ boxset.name }}</h5>
              <p class="card-text">{{ boxset.subname }}</p>
            </div>
          </div>
        </div>
      </div> 

       <!-- <div class="end">
        <div class="coll">
          <div class="fhd-card">
            <img
              src="assets/img/exchange.png"
              class="f-hd-logo"
              alt="..."
            />
            <div class="card-body">
              <h1><strong>100% EXCHANGE</strong></h1>
            </div>
          </div>
        </div>
        <div class="coll">
          <div class="fhd-card">
            <img
              src="assets/img/hand.png"
              class="f-hd-logo"
              alt="..."
            />
            <div class="card-body">
              <h1><strong>HAND PICKED</strong></h1>
            </div>
          </div>
        </div>
        <div class="coll">
          <div class="fhd-card">
            <img
              src="assets/img/quality.png"
              class="f-hd-logo"
              alt="..."
            />
            <div class="card-body">
              <h1><strong>ASSURED QUALITY</strong></h1>
            </div>
          </div>
        </div>
       </div> -->
      

    </div>
  </div>
  <app-footer></app-footer>
  
