*{
    font-family: "Fjalla One", sans-serif,cursive;
    font-weight: 600;
    font-style: normal;
}
.title{
    font-family: "Pacifico",cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
.card-header{
    object-fit: cover;
}

.hding{
    display: flex;
    flex-direction: row;
    text-align: start;
   object-fit: cover;
}

.container{
    padding-top: 80px;
    width: auto;
}

.carousel-caption{
    text-align: start;
    margin-right: 650px;
    margin-bottom: 30px;
}

.img-gen .card-gen{
    object-fit: cover; 
    
}
.col{
    margin: 15px 0 15px;
}

.hd{
   margin: 20px 10px 20px; 
   font-family:"Fjalla One", sans-serif,cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  object-fit: cover;
  display: flex;
}
.gen img,.card img{
    cursor: pointer;
}

//  new collection cards
.col{
    margin: 15px 0px 15px;
    border-radius: 5%;
    padding: 8px;
    justify-content: space-around;

}
.col img{
    border-radius: 5%;
}
.row{
    justify-content: center;
}
.card{
    border: none;
    border-radius: 5%;
}
.col:hover{
    box-shadow: 10px 7px 20px rgb(38, 37, 37);
}
.card-title{
    margin-bottom: 8px;
    font-size: 15px;
    font-family: "Fjalla One", sans-serif,cursive;
    font-weight: 600;
    font-style: normal;
}
.card-text{
    font-size: 15px;
    font-family: "Fjalla One", sans-serif,cursive;
    font-weight: 350;
    font-style: normal;
}


//    collection frame pic
.col-pic{
    cursor: pointer;
    width: 100%;
  height: auto;
}
.col-frm{
    overflow: hidden;
    object-fit: cover;
 } 


//   video 
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height/width) */
    overflow: hidden;
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .hd{
        font-size: 15px;
        margin: 10px 5px 10px;
    }
  }



  .f-hd-logo{
    height: 100px;
    width: fit-content;
    object-fit: cover;
}

.fhd-card,.hd{
    text-align: center;
    align-items: center;
}

.end{
    display:flex;
    flex-direction: row;  
    object-fit: contain;
}

@media screen and (max-width: 1000px){
   .card-body h1 strong{
        font-size: 20px;
        margin: 0;
        padding: 0;
   }
   .fhd-card img{
    
     
   }
   .col{
    padding: 0;
    margin: 0;
   }

}
@media screen and (max-width: 600px){

    .card-body h1 strong{
        display:none;
   }
      
}





